[submodule "arava_app"]
	path = arava_app
	url = https://github.com/dogganidhal/arava-app
[submodule "arava-backend"]
	path = arava-backend
	url = https://github.com/dogganidhal/arava-backend
[submodule "arava-admin"]
	path = arava-admin
	url = https://github.com/dogganidhal/arava-admin.git
